* {
  box-sizing: border-box;
  background: black;
  font-family: "Rancho", "cursive";
}

body {
  background: black;
  margin: 0px;
  font-family: "arial";
}

.nav {
  height: 75px;
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
}
.nav > * {
  margin-top: 1rem;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
}

.nav > .nav-links > a:hover {
    border-radius: 20px;
  background-color: red;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #2f2f2f;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: #2f2f2f;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* SlideShow */
.page-title {
  margin-top: 30px;
  text-align: center;
}

.slider {
  width: 600px;
  height: 400px;
  overflow: hidden;
  border: 10px solid white;
  border-radius: 5px;
}

.slides {
  display: flex;
  flex-direction: row;
  width: 400%;
  height: 400px;
  animation: slide 20s ease-in infinite;
}

.slide img {
  width: 600px;
  height: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  21% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: 0;
  }
}

/* === Buttons ==== */
button {
  height: 2vh;
  width: 8vw;

  min-width: 160px;
  min-height: 40px;

  margin: 1vw;

  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.07rem;

  position: relative;
  overflow: hidden;
}
button a {
  text-decoration: none;
  text-align: center;
  color: white;
  background: none;
}
button {
  transition: all 0.4s ease 0.1s;
  background-color: transparent;
  border: 2px solid #ec1111;
  border-radius: 5vh;
  z-index: 1;

  transition: color 0.4s ease-in-out, border 0.4s ease-in-out 0.2s;
}

button:hover {
  color: white;
  border: 2px solid white;
}

button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #ec1111;
  transition: all 0.4s ease;
  z-index: -1;
}

button:hover::after {
  height: 100%;
}

/* === About us === */
.about-section {
  background: url(2ss4.jpg) no-repeat left;
  background-size: 55%;
  background-color: black;
  overflow: hidden;
  padding: 0px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: black;
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  color: white;
}

.text {
  font-size: 13px;
  color: white;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.timing {
  color: white;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}

/* OUR DINING HALL */
.main-title {
  color: white;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-title h4 {
  text-align: center;
  text-transform: capitalize;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 33.33333%;
  }
}

.container .title {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

/* Map */
.responsive-map-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

.find h1 {
  color: white;
  text-align: center;
}
.find p {
  color: white;
  text-align: center;
}

/* === OUR CHEF's === */

.chefs h1 {
  color: white;
  text-align: center;
}

.chefs h4 {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.card {
  text-align: center;
  border: red solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px white;
}

.drama-photo {
  justify-self: center;
  height: 20rem;
  width: auto;
}

#drama-photo-cards {
  margin: 0 auto;
}

div.card > p {
  text-align: center;
  position: relative;
  color: white;
  border: none;
  height: 3rem;
  font-size: 15px;
  justify-self: left;
}

/* === TESTIMONIALS === */
.quote-emma {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 250px;
  background: #ffffff;
  padding: 0 !important;
  align-items: stretch;
  border-radius: 20px;
  box-shadow: 2px 2px 25px red;
}

.quote-emma .quote-emma-qmark {
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Impact, Garamond, Georgia, serif;
  font-size: 3em;
  color: white;
  line-height: 60px;
  user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  border-top: 2px solid #eeeeee;
}

.quote-emma .quote-emma-qmark span {
  padding-top: 0.25em;
}

.quote-emma .quote-emma-userpic {
  flex-basis: 150px;
  width: 150px;
  min-width: 150px;
  max-height: 300px;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg")
    center center no-repeat;
  background-size: cover;
  border-radius: 20px 0 0 20px;
}

.quote-emma .quote-emma-base {
  flex-basis: calc(100% - 150px);
  padding: 60px 30px 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-emma .quote-emma-base .quote-emma-text {
  font-size: 0.85em;
  line-height: 1.8em;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
}

.quote-emma .quote-emma-base .quote-emma-text:after {
  content: "\2014\00A0"attr(cite);
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .quote-emma {
    flex-direction: column;
  }

  .quote-emma .quote-emma-base {
    padding-top: 0;
  }

  .quote-emma .quote-emma-userpic {
    border-radius: 20px;
    height: 150px;
    margin: 40px auto 20px auto;
  }

  .quote-emma .quote-emma-base .quote-emma-text {
    font-size: 1em;
  }
}

.text h1 {
  text-align: center;
  font-size: xx-large;
}

/* CONTACT US */
.button h3{
    color: white;
    text-transform: capitalize;
    text-decoration: wavy underline;
    text-decoration-color: red ;
}
.abouts-section {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKuDi4mifr_3aJZVocr8b58au-uAO0cnWLEg&usqp=CAU") no-repeat left;
    background-size: 55%;
    background-color: black;
    box-shadow: #ec1111;
    overflow: hidden;
    padding: 0px 0;
    width: 80%;
  }
  
  .inner-container {
    width: 55%;
    float: right;
    background-color: black;
    padding: 150px;
  }
  
  .inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
  }
  
  .text {
    font-size: 20px;
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
  }
  
  .timing {
    color: white;
  }
  
  .skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
  }
  
  @media screen and (max-width: 1200px) {
    .inner-container {
      padding: 80px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .about-section {
      background-size: 100%;
      padding: 100px 40px;
    }
    .inner-container {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .about-section {
      padding: 0;
    }
    .inner-container {
      padding: 60px;
    }
  }

/* ==FOOTER== */
  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    height: 50px;
}

.footer p{
     text-align: center;
     padding-top: 15px;
    background: gray;
 }